body
{
	background-color:black;
	color:white;
	font-size: 62.5%;
}

.ui-widget
{
	font-family:'Open Sans';
}

.ui-state-hover
{
	z-index:2;
}

#buttons
{
	font-size:62.5%;
}

.fc-agenda-slots td div
{
	height:100%;	
}

.ui-datepicker-inline dl
{
	margin: 10px 0px 10px 0px;
}

.ui-datepicker-inline dl dt
{
	clear: both;
	display: inline-block;
	float: left;
}

.ui-datepicker-inline dl dd
{
	clear: right;
	margin-left: 80px;
	margin-bottom:10px;
}

.ui_tpicker_time
{
	float:right;
}

.fc-cell-overlay 
{
	background: none #F58400;
	opacity: 0.6;
}

.fc-event-time, .fc-event-bg
{
	display:none;
}

.fc-event,
.fc-agenda .fc-event-time,
.fc-event a 
{
	background: url("ui-darkness/images/ui-bg_glass_20_555555_1x400.png") repeat-x scroll 50% 50% #555555;
    border: 1px solid #666666;
    color: #EEEEEE;
    font-weight: bold;
}

.fc-event-inner
{
	border:0px none;
	background: none repeat scroll 0 0 transparent;
}

.fc-header-right .ui-selectmenu
{
	height:1.9em;
	
}

.ui-selectmenu-status
{
	text-align: left;
	padding-top:0.2em
}

.ui-selectmenu-menu
{
	z-index:10 !important;
}

.select-text-ui
{
	text-align : left;
	outline : none;
	cursor : text;
}


.ui-progressbar {
	height: 10px;
}

.ui-progressbar .ui-progressbar-value {
	margin-top: -0.55em;
	background-image : url("images/progress.gif");
}

.ui-progressbar span.caption {
	margin-top:-2px;
	font-size:0.5em;
	display: block;
	text-align: center;
	height:11px;
}
